body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(43, 43, 43);
    font-family: pixel, courier;
    font-size: 16px;
}

@font-face{
    font-family: pixel;
    src: url('fonts/pixels.ttf');
}

h1{
    text-align: center;
    font-family: inherit;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}

#loadScr{
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    z-index: 5;
    float: left;
    position: fixed;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		padding: 200px;
		box-sizing: border-box;
}
#loadCenter{
	color: rgb(26, 26, 26);
	font-size: 32px;
}
#loadSub{
	font-size: 20px;
	color: rgb(87, 87, 87);
}

input{
    font-size: 18px;
    /* height: 22px; */
    line-height: 16px;
    font-family: inherit;
}

/* 
    BUTTONS
*/
input[type=button], button{
    text-align: center; 
    vertical-align: middle;
    padding: 5px;
    background-color: rgb(96, 94, 170);
		border: 1px solid rgb(41, 41, 41);
		color: rgb(41, 41, 41);
    border-radius: 5px;
    cursor: pointer;
}
input[type=button]:disabled, button:disabled{
    background-color: rgb(163, 159, 177);
    border: 1px solid rgb(95, 95, 95);
    color: rgb(128, 128, 128);
    cursor: auto;
}
input[type=button]:hover:not(:disabled), button:hover:not(:disabled){
    background-color: rgb(97, 122, 170);
    border: 1px solid rgb(197, 197, 197);
    color: rgb(197, 197, 197);
}
button:disabled{
    background-color: rgba(123, 112, 156, 0.5);
}
button{background-color: rgb(43, 42, 77, 0.5)}
button:hover:not(:disabled){background-color: rgb(59, 74, 105, 0.5)}

/* 
    MAP
*/


#map{
    position: relative;
    height: 2048px;
    width: 2048px;
    z-index: 1;
    background-color: rgb(22, 9, 37);
    /* background-image: url('img/plain/Plains.png'); */
}

#map img[id*='map']{
    height: 64px;
    width: 64px;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
    /* background-color: transparent; */
}

#workPanel{
    z-index: 3;
}

#toolbox{
    /* height: 140px; */
    width: 350px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#toolbox div img{
    margin-right: 1px;
    height: 32px;
    width: 32px;
    display: inline-block;
    font-size: 10px;
    color: white;
}

#toolbox_tileContainer{
    background-color: white;
}

.hidden{
    display: none !important;
}

.box{
    border: 1px solid darkgray;
    background-color: grey;
    padding: 5px;
}

/* Work manager panel */

.rowWork{
    font-size: 16px;
    position: relative;
}

.rowWorkName div{
    text-align: left;
}

.rowWorkInput input{
    font-size: inherit;
    height: 20px;
    width: 48px;
    border: 1px solid rgb(66, 66, 66);
    background-color: gray;
    color: white;
    line-height: 20px;
}

.rowWorkName{
    display: inline-block;
    line-height: 22px;
    position: absolute;
    left: 5px;
}

.rowWorkInput{
    display: inline-block;
    position: absolute;
    right: 5px;
}

.rowWorkInput div{
    text-align: left;
}

/* Main menu box */
.mainMenuBox{
    height: 90vh;
    width: 90vw;
    float: left;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darkgray;
    background-color: grey;
    padding: 5px;
    z-index: 4;
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
}

.group{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

div[type*=resourceInputs]{
    width: 100%;
}

.inventoryNum{
    display: inline-block;
}

.buttonExit{
    float: right;
}

/* Send people menu */

.group input{
    line-height: 16px;
    padding: 5px;
    font-size: inherit;

}

input[id*=bPartyMinus], input[id*=bPartyPlus]{
    width: 25px;
    height: 25px;
    padding: 0px;
}

input[type=number]{
    width: 50px;
    border: 1px solid rgb(66, 66, 66);
    background-color: rgb(81, 63, 94);
    color: white;
    text-align: left;
}

/* build panel */

#buildPanel{
    height: 100%;/* of leftpanel-maincontainer */
}

#buildingsShowcaseContainer{
    overflow-y: auto;
    height: 80%;
    margin-top: 15px;
    border: 2px solid rgb(49, 49, 49);
    z-index: 3;
}

.innerShadow{
    /* box shadow: https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: inset 0px 1px 21px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 1px 21px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 1px 21px 1px rgba(0,0,0,0.75);
}

.showcase_element{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: gray;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

.showcase_element_clicked{
    background-color: lightgray;
    border: 1px solid rgb(121, 121, 121);
}

.showcase_icon{
    width: 64px;
    height: 64px;
}

.showcase_price{
    font-size: 10px;
    position: absolute;
    top: 35px;
    left: 80px;
}

.showcase_text{
    font-style: italic;
}

.showcase_name{
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 80px;
}

#building_hover_image{
    opacity: 0.5;
    height: 64px;
    width: 64px;
    position: absolute;
}
/* convert hex color to filters: https://codepen.io/sosuke/pen/Pjoqqp?editors=1000 */
.imgGreenFilter{
    -webkit-filter: invert(67%) sepia(74%) saturate(865%) hue-rotate(66deg) brightness(90%) contrast(84%);
    filter: invert(67%) sepia(74%) saturate(865%) hue-rotate(66deg) brightness(90%) contrast(84%);
}

.imgRedFilter{
    -webkit-filter: invert(42%) sepia(98%) saturate(4858%) hue-rotate(344deg) brightness(83%) contrast(155%);
    filter: invert(42%) sepia(98%) saturate(4858%) hue-rotate(344deg) brightness(83%) contrast(155%);
}

.groupInv{
    margin-top: 15px;
    margin-bottom: 15px;
    
    padding: 10px;
    position: relative;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;/* makes padding count in height and width */
}

.groupMembers{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.groupMembers_left{
	position: absolute;
	right: 15px;
}

.groupInventoryHeader{
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
}

.partyNotif{
    color: rgb(111, 204, 228);
    margin-top: 10px;
    margin-bottom: 10px;
}

.partyCommands input{
    margin-left: 3px;
    margin-right: 3px;
}
#partyTimeContainer{
	position: relative;
	margin-bottom: 10px;
}
#dPartyFuelMark{
	position: absolute;
	right: 5px;
}

.map_unit_icon{
    cursor: pointer;
    height: 64px;
    width: 64px;
    position: absolute;
    z-index: 3;
}
img[id*='partyIcon']{
    z-index: 4;
}

.overlaytile-green{
    /* green tile that indicates the tiles a group can move to in the map */
    background-color: green;
    opacity: 0.25;
    height: 64px;
    width: 64px;
    position: absolute;
}

/* Layout V2 */

#game-view-container{
    position: relative;
}

#leftpanel {
    background-color: rgb(66, 56, 80);
    /* border-right: 1px solid rgb(66, 66, 66); */
    height: 100vh;
    width: 350px;
    border-right: 3px solid transparent;
    border-image: url(img/gui/border_image.png) 33% round;
}

#leftpanel-maincontainer{
    /* background-color: red; */
    height: 80%;
    width: 95%;
    margin-left: auto;/* center container */
    margin-right: auto;
    overflow-y: hidden;
}

#leftpanel-commandscontainer{
    box-sizing: border-box;
    text-align: center;/* center command buttons */
    width: 350px;
    display: table-cell;
    vertical-align: middle;
}

#bNextDay{
    background-color: rgb(170, 164, 72);
}
input[id=bNextDay]:hover{
    background-color: rgb(199, 198, 181);
}

.title{
    padding: 15px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#playarea {
    background-color: rgb(33, 91, 110);
    overflow: auto;
    height: 100vh;
    position: absolute;
    top: 0px;
}

.panelSeparator{
    text-align: center;
    border-bottom: 2px solid black;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* event panel */
#eventTotalContainer{
    position: fixed;
    left: 353px;
    top: 0px;
    z-index: 4;
}
#eventContainer{
    position: fixed;
    left: 353px;
    top: 0px;
    width: 100%;
    height: 100%;

}

#eventBackground{
    position: fixed;
    left: 353px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.75;
}

#event{
    margin: 20px;
    /* padding: 15px; */
    border: 1px solid black;
    overflow: hidden;
}

#eventMessages{
    margin: 15px;
}

#eventOptions{
    margin: 15px;
}

#eventOptions > input{
    line-height: 16px;
    padding: 5px;
    font-size: inherit;
    margin: 2px;
}

#IGWindowContainer{
    position: fixed;
    top: 0px;
    left: 353px;
    height: 100%; /* of playarea */
    width: 100%;
    z-index: 4;
}

#IGWindow{
    margin: 20px;
    border: 1px solid black;
	background-color: rgba(153, 153, 153, 0.685);
	overflow: hidden;
	position: relative;
}

.bold{
    font-weight: bold;
}

#debug{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: rgba(255, 104, 104, 0.288);
    z-index: 6;
    padding: 5px;
    color: white;
}

#sitePanelsBar, #NPCInteractionTabsBar{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    width: 95%;
}

#NPCInteractionWindow{
	height: 100%;
	width: 100%;
}

#NPCInteractionTabsBar{
	position: absolute;
	top: 15px;
}

#NPCInteractionContent{
	top: 54px;
	height: 85%;
}

.sitePanelBarTab{
    /* display: inline-block; */
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid black;
    border-bottom: none;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 3px;
}

.sitePanelBarTab_clicked{
    background-color: rgba(61, 58, 95, 0.603);
}

#siteContent, #NPCInteractionContent{
    border: 1px solid black;
    /* border-top: none; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 6px;
    margin-right: 5px;
    position: relative;
}

#constructionContainer, #buildingsContainer {
	width: 100%;
	height: 100%;
    background-color: rgba(48, 38, 58, 0.486);
    border-radius: 5px;
    border: 1px solid black;
}

#constructionContainer{ 
    overflow-y: auto; 
}

#buildingsContainer{ 
    overflow-y: auto; 
}
#buildPanelLeft{
	width: 47%;
	height: 90%;
	position: absolute;
	top: 10px;
	left: 5px;
}
#buildPanelRight{
	width: 47%;
	height: 90%;
	position: absolute;
	right: 5px;
	top: 10px;
}
.buildPanelTitle{
	width: 100%;
	margin-bottom: 5px;
	text-align: middle;
	font-weight: bold;
	font-size: 18px;
}

/* 
    Building buy buttons
*/

.buildingBuyButton{
    width: 90%;
    margin-left: 4%;
    margin-right: 6%;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
    font-family: inherit;
    padding: 3px;
    box-sizing: border-box;
    background-color: rgba(17, 11, 51, 0.5);
}

.buildingBuyTitle{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
}
.buildingBuyResourceCostQty{
    margin-left: 4px;
    margin-right: 2px;
    line-height: 16px;
    font-size: 16px;
}

.buildingBuyText{
    font-style: italic;
    color: grey;
    padding: 5px;
}

/* 
    Building displayers
*/

.buildingDisplayer{
    border: 1px solid darkgray;
    width: 90%;
    margin-left: 4%;
    margin-right: 6%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 3px;
    box-sizing: border-box;
}

.buildingDisTitle{
    font-weight: bold;
    font-size: 18px;
}


#campResources > div{
    margin-bottom: 4px;
}

#soundToggler{
    position: absolute;
    top: 15px;
    left: 10px;
}

#defaultPanelTitle{
	font-size: 18px; 
	font-weight: bold; 
	margin-bottom: 15px; 
	text-align: center;
}

.buildDisplayerButtonsContainer{
	display: inline-block;
}

/* Group vignettes (buttons in group panel) */

#groupVignetteContainer{
	width: 100%;
	height: 90%;
	overflow-y: auto;
}

.groupVignette{
	width: 95%;
	text-align: left; /* makes icon stay on the left */
	font-family: inherit;
	margin-bottom: 5px;
}

.groupVignetteTitle{
	position: absolute;
	left: 69px;
	font-weight: bold;
	font-size: 18px;
}

.groupVignettePopContainer{
	float: right;
	position: relative;
	bottom: 10px;
	right: 5px;
}

#siteDet{
	height: 100%;
	width: 100%;
}

/* css added to loot lists generated by generateResourceChangeList(loot) */
.lootlist{
	color: rgb(158, 243, 158);
	font-weight: bold;
}

#NPCTradePanel{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

#tradeNPCContainer, #tradePlayerContainer{
	width: calc(50% - 20px);
	height: calc(100% - 20px);
	/* border: 1px solid red; */
	padding: 10px;
	box-sizing: border-box;
}
.tradeInventoryContainer{
	padding: 5px;
	margin-top: 5px;
}
#NPCInteractionContent{
	padding: 15px;
	box-sizing: border-box;
}

.tradeResource{
	display: inline-block;
}
.tradeContainerTitle{
	font-size: 20px;
	font-weight: bold;
}